.navbar{
	background-color: #333;
	color: #fff;
}
.navbar ul{
	padding: 0;
	list-style: none;
}
.navbar li{
	display: inline;
	padding: 20px;
}
a:hover{
	color:white;
}
table{
	border: 1px solid black;
	margin-left:500px;
}
tr{
	border: 1px solid black;
}
td{
	border: 1px solid black;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom:10px;
}
h3{
	margin-left:500px
}
.hob{
	margin-left:100px;
	margin-right:500px;
}
.ho{
	margin-left:100px;
	margin-right:500px
}
.ob{
	margin-left:100px;
	margin-right:100px;
}
body{
	margin: 0px;
	padding: 0px;
}
		
.image{
	margin-top: 200px;
	padding-left: 500px;
	width: 30%;
}
.search{
	padding-left: 400px;
	padding-top: 20px;
	margin-left:400px;
	margin-top: 10px;
}
.btnsearch{
	margin-left:580px;
	margin-top: 10px;
	padding-top: 10px;
}
.lucky{
	margin-top: 10px;
	padding-top: 10px;
	margin-left:10px;
}